<div *ngIf="isChatbotVisible" class="chat-container">
    <div class="envelope">
      <div class="chat-header">
        <div class="flower-icon">🌸</div>
        <span class="chat-title">Chatbot</span>
        <!-- Bouton X pour fermer le chatbot -->
        <button class="close-btn" (click)="closeChatbot()">X</button>
      </div>
      <div *ngFor="let message of messages" class="message">
        <div class="user-message">{{ message.user }}</div>
        <div class="bot-message">{{ message.bot }}</div>
      </div>
      <div class="chat-footer">
        <input 
          [(ngModel)]="userMessage" 
          placeholder="Posez une question..." 
          (keydown)="onEnter($event)" />
        <button (click)="sendMessage()">Envoyer</button>
      </div>
    </div>
  </div>
  