/* Style du ticket de facture */
.facture-ticket {
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .facture-ticket h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .facture-ticket p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .facture-ticket button {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .facture-ticket button:hover {
    background-color: #218838;
  }
  