/* Style pour le conteneur du code */
.code-container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .alert {
    color: red;
    font-weight: bold;
  }
  /* code.component.css */
.code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.alert {
    color: red; /* Couleur du texte d'erreur */
    margin-top: 10px; /* Espace au-dessus du message d'erreur */
}