<!-- src/app/deepcategory/deepcategory.component.html -->
<div class="container">
    <h2>Gestion des Catégories</h2>
  
    <div>
      <h3>Ajouter une nouvelle catégorie</h3>
      <input [(ngModel)]="newCategory.name" placeholder="Nom de la catégorie" />
      <button (click)="addCategory()">Ajouter</button>
    </div>
  
    <div>
      <h3>Liste des Catégories</h3>
      <ul>
        <li *ngFor="let category of categories">
          {{ category.name }}
          <button (click)="editCategory(category)">Modifier</button>
          <button (click)="deleteCategory(category.id!)">Supprimer</button>
        </li>
      </ul>
    </div>
  
    <div *ngIf="selectedCategory">
      <h3>Modifier la catégorie</h3>
      <input [(ngModel)]="selectedCategory.name" placeholder="Nom de la catégorie" />
      <button (click)="updateCategory()">Mettre à jour</button>
      <button (click)="selectedCategory = null">Annuler</button>
    </div>
  </div>