<div class="container">
  <h2>Gestion des Produits</h2>

  <div>
    <h3>Recherche de Produits</h3>
    <div>
      <input type="text" [(ngModel)]="searchCode" placeholder="Rechercher par code" />
      <button (click)="searchProduitByCode()">Rechercher par code</button>
      <div *ngIf="produitsRecherche.length > 0">
        <h4>Résultats de la recherche par code :</h4>
        <ul>
          <li *ngFor="let produit of produitsRecherche">
            <img *ngIf="produit.image" [src]="produit.image" alt="{{ produit.name }}" />
            <span>{{ produit.name }} - {{ produit.description }} - {{ produit.prix }}fcfa</span>
            <span> - Code: {{ produit.code }}</span>  <!-- Affichage du code produit -->
          </li>
        </ul>
      </div>
    </div>

    <div>
      <input type="text" [(ngModel)]="searchName" placeholder="Rechercher par nom" />
      <button (click)="searchProduitsByName()">Rechercher par nom</button>
      <div *ngIf="produitsRecherche.length > 0">
        <h4>Résultats de la recherche par nom :</h4>
        <ul>
          <li *ngFor="let produit of produitsRecherche">
            <img *ngIf="produit.image" [src]="produit.image" alt="{{ produit.name }}" />
            <span>{{ produit.name }} - {{ produit.description }} - {{ produit.prix }}fcfa</span>
            <span> - Code: {{ produit.code }}</span>  <!-- Affichage du code produit -->
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <h3>Ajouter un produit</h3>
    <input [(ngModel)]="newProduit.name" placeholder="Nom" />
    <input [(ngModel)]="newProduit.description" placeholder="Description" />
    <input [(ngModel)]="newProduit.prix" type="number" placeholder="Prix" />
    <input [(ngModel)]="newProduit.code" placeholder="Code du produit" />  <!-- Champ code ajouté -->
    
    <select [(ngModel)]="newProduit.category" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
    </select>
    <input type="file" (change)="onFileSelected($event)" />
    <button (click)="addProduit()">Ajouter</button>
  </div>

  <div>
    <h3>Liste des Produits</h3>
    <ul>
      <li *ngFor="let produit of produits">
        <img *ngIf="produit.image" [src]="produit.image" alt="{{ produit.name }}" />
        <span>{{ produit.name }} - {{ produit.description }} - {{ produit.prix }}fcfa</span>
        <span> - Code: {{ produit.code }}</span>  <!-- Affichage du code produit -->
        <button (click)="deleteProduit(produit.id!)">Supprimer</button>
      </li>
    </ul>
  </div>
</div>